

<main>
   
    <section class="cardContainer">

        <h2>Libros en Existencias</h2>

        <ul class="vistaLibros">

            <div *ngIf="myBooks.length===0" class="nulo">
                <p>NO HAY LIBROS DISPONIBLES</p>
            </div>
           
            <li class="libros" *ngFor="let book of myBooks; let i = index; let impar = odd; let par = even;" [i]="i" [par]="par" [impar]="impar" [myBooks]="myBooks">

                <app-card [book]="book" (eliminarCard)="delete($event)" (addCard)="addBook($event)" [ngClass]="{standard:impar, irregular:par}"></app-card>

            </li>

        </ul>

    </section>

</main>

