

<main>
   
    <section class="cardContainer">

        <div class="card">
            <div class="cardHeader">
                <img src="{{myBooks[0].photo}}" alt="" class="imgLibro">
                <h3>{{myBooks[0].type}}</h3>
                <p> (Tapa blanda)</p>
                <hr>
            </div>
            <div class="cardMain">
                <h2>{{myBooks[0].title}}</h2>
                <span>Autor: {{myBooks[0].author}}</span>
                <p>Ref-{{myBooks[0].id_book}}</p>
            </div>
            <div class="cardBuy">
                <p>{{myBooks[0].price}}€</p>
                <button type="button" class="button">Comprar</button>
            </div>

        </div>

    </section>

</main>

