

<main>
   
    <section class="cardContainer">

        <h2>Libros en Existencias</h2>

        <ul class="vistaLibros">

            <div *ngIf="myBooks.length===0" class="nulo">
                <p>NO HAY LIBROS DISPONIBLES</p>
            </div>
           
            <li *ngFor="let book of myBooks" class="libros">

                <div class="card">
                    <div class="cardHeader">
                        <img src="{{book.photo}}" alt="" class="imgLibro">
                        <h3>{{book.type}}</h3>
                        <p> (Tapa blanda)</p>
                        <hr>
                    </div>
                    <div class="cardMain">
                        <h2>{{book.title}}</h2>
                        <span>Autor: {{book.author}}</span>
                        <p>Ref-{{book.id_book}}</p>
                    </div>
                    <div class="cardBuy">
                        <p>{{book.price}}€</p>
                        <button type="button" class="button">Comprar</button>
                    </div>
                </div>

            </li>

        </ul>

    </section>

</main>

