<div id="contenedor">

    <h2>Registrate</h2>

    <hr>

    <form [formGroup]="registerForm" action="">
        
        <div class="field">
            <input formControlName="nombre" type="text" id="nombre" placeholder="Nombre" autocomplete="nombre" required/>
        </div>

        <div class="field">
            <input formControlName="apellidos" type="text" id="apellidos" placeholder="Apellidos" autocomplete="apellidos" required/>
        </div>

        <div class="field">
            <input formControlName="email" type="email" id="eMail" placeholder="e-mail" autocomplete="e-mail" required/>
        </div>

        <div class="field">
            <input formControlName="url" type="url" id="URL" placeholder="Url" autocomplete="URL"required/>
        </div>

        <div class="field">
            <input formControlName="password" type="password" id="contraseña" placeholder="Contraseña" oninput="revisar();" required/>
        </div>

        <div class="field">
            <input formControlName="repetirContraseña" type="password" id="repetirContraseña" placeholder="Repetir Contraseña" oninput="revisar();" required/>
        </div>

        <div class="field">
            <button [disabled]="registerForm.invalid" class="button" onclick="register();">Registrarse</button>
        </div>
    </form>
    
</div>