<div id="contenedor">

    <h2>Registrate</h2>

    <hr>

    <form action="">
        
        <div class="field">
            <input type="text" id="nombre" required placeholder="Nombre" autocomplete="nombre"/>
        </div>

        <div class="field">
            <input type="text" id="apellidos" required placeholder="Apellidos" autocomplete="apellidos"/>
        </div>

        <div class="field">
            <input type="email" id="eMail" required placeholder="e-mail" autocomplete="e-mail"/>
        </div>

        <div class="field">
            <input type="url" id="URL" required placeholder="URL" autocomplete="URL"/>
        </div>

        <div class="field">
            <input type="password" id="contraseña" required placeholder="Contraseña" oninput="revisar();" autocomplete="contraseña"/>
        </div>

        <div class="field">
            <input type="password" id="repetirContraseña" required placeholder="Repetir Contraseña" oninput="revisar();" autocomplete="repetirContraseña"/>
        </div>

        <div class="field">
            <button type="button" class="button" onclick="recogerDatos();">Registrarse</button>
        </div>
    </form>
    
</div>