#contenedor {
    width: 35vw;
    color: white;
    border: 1px solid whitesmoke;
    box-shadow: 1px 2px 2px 1px rgba(255, 255, 255, 0.18);
    margin: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    margin: 5vh 0 2vh 0;
    font-size: 1.5rem;
}

hr {
    width: 80%;
    size: 2vh;
}

form {
    padding: 3vh 5vh 5vh 5vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

form .field {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 2vh;
}

.field input {
    width: 25vw;
    padding-left: 2rem;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.button {
    font-size: 1rem;
    margin: 2vh;
    border-radius: 1rem;
    width: 14vw;
    cursor: pointer;
    color: #068c74;
}

button:hover {
    background-color: #068c74;
    color: white;
}