footer {
    width: 100vw;
    background-color: #54686f;
    color: white;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

small {
    padding-top: 3vh;
    font-size: .5rem;
}

ul {
    display: inline-flex;
}

li {
    list-style: none;
    padding: 0 2vh;
}

a {
   height: 6vh;
}

img {
    width: 2vw;
}