
header {
    margin-top: 0rem;
    width: 100vw;
    background-color: var(--fourth-color);
    color: var(--primer-color);
}

.barraNavegacion {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

h1 {
    padding: 1.5vh 4vh;
    font-size: 2.5rem;
}

ul {
    padding-right: 10vh;
    padding-bottom: 4vh;
    display: inline-flex;
}

li {
    list-style: none;
    padding: 2vh;
}

a {
    font-size: 1rem;
    color: var(--primer-color);
}