<app-header></app-header>

<body>

    <div class="container">

        <div class="contentPerfil">

            <div class="perfilImg">
                <img src="../../../assets/icono-perfil-persona.png" alt=""/>
            </div>
                
            <div class="profile">
                <img src="../../../assets/book.png" alt="">
                <div class="nomCompleto">
                    <h2>Nombre Completo</h2>
                    <!-- {{myUser.nombreCompleto()}} -->
                    <hr>
                </div>
            </div>

            <div class="datos">

                <div class="datosNombre">
                    <p>Nombre</p>
                    <div class="field">
                        <h3 id="nombre">{{myUser.name}}</h3>
                    </div>
                </div>

                <div class="datosApellidos">
                    <p>Apellidos</p>
                    <div class="field">
                        <h3 id="apellidos">{{myUser.last_name}}</h3>
                    </div>
                </div>

                <div class="datosCorreo">
                    <p>Correo</p>
                    <div class="field">
                        <h3 id="correo">{{myUser.email}}</h3>
                    </div>
                </div>

            </div>
        </div>

        <hr>

        <div class="contentModif">

            <h2>Editar Datos</h2>
            <hr>

            <form action="">

                <input type="text" placeholder="Nombre" value="{{myUser.name}}">
                <input type="text" placeholder="Apellidos" value="{{myUser.last_name}}">
                <input type="text" placeholder="Correo" value="{{myUser.email}}">
                <input type="text" placeholder="Url" value="{{myUser.photo}}">
                <div class="boton">
                    <button type="button" onclick="modificar()">Modificar</button>
                </div>
                
            </form>

        </div>

    </div>

</body>

<app-footer></app-footer>