<app-header></app-header>

<body>

    <div class="container">

        <div class="contentPerfil">
            <img src="" alt=""/>
            <div class="profile">
                <i></i><h2></h2>
            </div>
            <div class="datos">
                <p>Nombre</p><h3 id="nombre"></h3>
                <p>Apellidos</p><h3 id="apellidos"></h3>
                <p>Correo</p><h3 id="correo"></h3>
            </div>
        </div>

        <div class="contentModif">
            <h2>Editar Datos</h2>
            <hr>
            <form action="">
                <input type="text" placeholder="Nombre">
                <input type="text" placeholder="Apellidos">
                <input type="text" placeholder="Correo">
                <input type="text" placeholder="Url">
                <button type="button" onclick="modificar()">Modificar</button>
            </form>

        </div>

    </div>

</body>

<app-footer></app-footer>