<app-header></app-header>

<body>

    <div class="container">

        <div class="contentPerfil">
            <img src="" alt=""/>
            <div class="profile">
                <img src="../../../assets/book.png" alt=""><h2></h2>
            </div>
            <div class="datos">

                <p>Nombre</p>
                <div class="field">
                    <h3 id="nombre"></h3>
                </div>

                <p>Apellidos</p>
                <div class="field">
                    <h3 id="apellidos"></h3>
                </div>

                <p>Correo</p>
                <div class="field">
                    <h3 id="correo"></h3>
                </div>

            </div>
        </div>

        <hr>

        <div class="contentModif">
            <h2>Editar Datos</h2>
            <hr>
            <form action="">

                <input type="text" placeholder="Nombre">
                <input type="text" placeholder="Apellidos">
                <input type="text" placeholder="Correo">
                <input type="text" placeholder="Url">
                <div class="boton">
                    <button type="button" onclick="modificar()">Modificar</button>
                </div>
                
            </form>

        </div>

    </div>

</body>

<app-footer></app-footer>