<div id="contenedor">

    <h2>Accede a tu Perfil</h2>

    <hr>

    <form [formGroup]="loginForm" action="">

        <div class="field">
            <input type="email" #eMail formControlName="email" id="eMail" placeholder="E-mail" autocomplete="e-mail" required/>
            <i class="fa-regular fa-envelope"></i>
        </div>

        <div class="field">
            <input type="password" #password formControlName="password" id="password" placeholder="Contraseña" required/>
            <i class="fa-solid fa-key"></i>
        </div>

        <div class="field">
            <button class="button" onclick="acceder(eMail.value, password.value);" [disabled]="loginForm.invalid">Acceder</button>
        </div>
    </form>
    
</div>
