<div id="contenedor">

    <h2>Accede a tu Perfil</h2>

    <hr>

    <form action="">

        <div class="field">
            <input type="email" #eMail id="eMail" placeholder="e-mail" autocomplete="e-mail" required/>
        </div>

        <div class="field">
            <input type="password" #password id="password" placeholder="Contraseña" required/>
        </div>

        <div class="field">
            <button class="button" onclick="registrarse(eMail.value, password.value);">Registrarse</button>
        </div>
    </form>
    
</div>
